.container {
  padding: 0 2em;
}

.post {}

.content {}

.post > h1,
.content > h2,
.content > h3 {
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-top: 2em;
  text-transform: uppercase;
}

.post > h1 {
  color: #2A2E2E;
  font-size: 1.8em;
}

.content > h2 {
  color: #2A2E2E;
  font-size: 1.4em;
}

.content > h3 {
  color: #525555;
  font-size: 1.2em;
}

.post > h1 a:hover,
.content > h2 a:hover,
.content > h3 a:hover {
  color: #1ABC9C;
}