@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700,700i|IBM+Plex+Sans:400,400i,700,700i|Inconsolata:400,700');

:root {
  --hipBlack: #2a2e2e;
  --fakeAsbestos: #525555;
  --fakeAsbestosAlpha22: #52555522;
  --fakeAsbestosAlpha88: #52555588;
  --bianchiGreen: #b3e4c8;
  --bianchiGreenAlpha88: #b3e4c888;
}

html {
  /* Text */
  font-size: 15px;
}

h1,
h2,
h3 {
  /* Display & Box Model */
  margin-block-end: 0;

  /* Text */
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;

  /* Color */
  color: var(--hipBlack);
}

h1 {
  /* Display & Box Model */
  box-shadow: inset 0 -0.5em 0 var(--bianchiGreen);
  padding: 0 0.5em;

  /* Text */
  font-size: 2em;
}

h2 {
  /* Text */
  font-size: 1.5em;
}

h3 {
  /* Text */
  font-size: 1.25em;
}

p,
li {
  /* Display & Box Model */
  margin-block-end: 0.25em;

  /* Text */
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1em;
  line-height: 1.75em;

  /* Color */
  color: var(--hipBlack);
}

a,
a:visited,
a:hover,
a:active {
  /* Text */
  text-decoration: none;

  /* Color */
  color: inherit;
}

p a,
li a {
  /* Display & Box Model */
  border-bottom: 0.25em solid var(--bianchiGreen);
  box-shadow: inset 0 -0.25em 0 var(--bianchiGreen);
  padding-top: 0.25em;

  /* Other */
  transition: background 0.3s ease;
}

p a:hover,
li a:hover {
  /* Color */
  background: var(--bianchiGreen);
}

ul,
ol {
  /* Display & Box Model */
  padding-inline-start: 1.25em;
}

blockquote {
  /* Display & Box Model */
  margin: 1.25em 0;
  border-left: 0.25em solid var(--bianchiGreen);
  padding-left: 1em;
}

blockquote p {
  /* Text */
  font-family: 'IBM Plex Mono', monospace;
  letter-spacing: -1px;

  /* Color */
  color: var(--fakeAsbestos);
}

code {
  /* Text */
  font-family: 'Inconsolata', monospace;
  font-size: smaller;
  letter-spacing: -1px;

  /* Color */
  color: var(--fakeAsbestos);
}

hr {
  /* Display & Box Model */
  margin: 1em 0em 0em;

  /* Color */
  opacity: 0.5;
}

@media (min-width: 576px) {
  html {
    /* Text */
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  html {
    /* Text */
    font-size: 17px;
  }
}

@media (min-width: 1024px) {
  html {
    /* Text */
    font-size: 18px;
  }
}
