:root {
  --fakeAsbestos: #525555;
}

.navbar {
  /* Display & Box Model */
  margin-bottom: 1em;
  padding: 1em 0em;

  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Color */
  background: var(--fakeAsbestos);
}

.navbar__link {
  /* Display & Box Model */
  margin: 0em 0.5em;
  border-bottom: 0.25em solid transparent;
  padding: 0.5em 0.5em 0.25em;

  /* Text */
  font-family: 'IBM Plex Mono', monospace;
  font-size: smaller;

  /* Color */
  color: white;

  /* Other */
  transition: border-bottom 0.3s ease;
}

.navbar__link:hover {
  /* Display & Box Model */
  border-bottom: 0.25em solid white;
}

@media (min-width: 768px) {
  .navbar__link {
    /* Display & Box Model */
    margin: 0em 0.75em;
    /* Text */
    font-size: medium;
  }
}
