:root {
  --hipBlack: #2a2e2e;
  --fakeAsbestos: #525555;
  --bianchiGreen: #b3e4c8;
}

/*
BREAKPOINTS
--mobile: 576px;
--tablet: 768px;
--desktop: 1024px;
*/

/* HEADERS */
.md > h1,
.md > h2,
.md > h3 {
  margin: 1.5em 0em 0em;
}

/* BODY TEXT */

/* BLOCKQUOTES */

/* CODE */

/* FOOTNOTES */
.md > hr {
  margin: 1.5em 0em;
}

.md > div > hr {
  display: none;
}

.md > div > ol {
  font-size: 0.875em;
}

.md > div > ol > li > p {
  font-size: 1em;
}

.md > div > ol > li > a {
  border-bottom: none;
  box-shadow: none;
  text-decoration: none;
}

.md > div > ol > li > a:hover,
.md > div > ol > li > a:hover {
  background: none;
  color: var(--bianchiGreen);
}

/* Images & GIFs */
.md > p > img {
  display: block;
  margin: 0em auto;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .md > h2,
  .md > h3 {
    margin-top: 1.5em;
  }
}

@media (min-width: 1024px) {
}
