:root {
  --hipBlack: #2a2e2e;
  --fakeAsbestos: #525555;
  --bianchiGreen: #b3e4c8;
}

/*
BREAKPOINTS
--mobile: 576px;
--tablet: 768px;
--desktop: 1024px;
*/

.navbar {
  background: var(--fakeAsbestos);
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  padding: 1em 0em;
}

.navlink {
  border-bottom: 0.25em solid #fff0;
  border-top: 0.25em solid #fff0;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.875em;
  margin: 0em 0.5em;
  padding: 0.25em 0.5em;
}

.navlink:hover {
  border-bottom: 0.25em solid #fff;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .navbar {
    margin-bottom: 1.5em;
  }
  .navlink {
    font-size: 1em;
    padding: 0.5em 0.75em;
  }
}

@media (min-width: 1024px) {
}
