/* Shared .card styles with BlogCard & NowCard */
.card {
  /* Display & Box Model */
  box-shadow: var(--fakeAsbestosAlpha22) 0 0.125em 0.25em 0;
  width: 15em;
  margin: 1em;
  border: 1px solid var(--fakeAsbestosAlpha22);
  border-radius: 0.25em;
  overflow: hidden;

  /* Flex */
  display: flex;
  flex-direction: column;

  /* Other */
  transition: box-shadow 0.3s ease;
}

.card:hover,
.card:active {
  /* Display & Box Model */
  box-shadow: var(--fakeAsbestosAlpha22) 0 0.5em 1em 0;
}

.card__wrapper {
  /* Display & Box Model */
  padding: 1em 1.5em;
}

.card__title {
  /* Display & Box Model */
  margin-top: 0.25em;
}

.card__excerpt {
  /* Display & Box Model */
  margin: 0.5em 0;

  /* Text */
  font-size: smaller;
}
